<div class="post-detail">
<h3>{{model.singlePost.title}}</h3>
<img src={{model.singlePost.image}} alt={{model.singlePost.title}}>
<p>{{model.singlePost.body}}</p>
<h5>Posted by {{model.singlePost.author}} at {{model.singlePost.date}}</h5>
{{update-post post=model.singlePost update2="update3"}}
<button {{action 'delete' model.singlePost}}>Delete</button>
<div class="add-comment">
{{add-comment post=model.singlePost saveComment2="saveComment3"}}
<ul class="comment-list">
  {{#each model.singlePost.comments as |comment|}}
  <li>{{comment.name}}</li>
  <li>{{comment.body}}</li>
  {{/each}}
</ul>
</div>
</div>

<div class="side-bar">
  <ul>
  {{#each model.allPost as |post|}}
    {{#link-to 'post' post.id}}
    <li>{{side-bar post=post }} </li>
    {{/link-to}}
  {{/each}}
  </ul>
  <ul class="info-links">
    <li>{{#link-to 'about'}}about{{/link-to}}</li>
    <li>{{#link-to 'contact'}}contact us!{{/link-to}}</li>
    <li>{{#link-to 'index'}}home{{/link-to}}</li>
  </ul>
</div>
